<span id="mini-profile" th:fragment="mini-profile">
<span class="icons">
  <i class="fab fa-audible"></i>
  <i class="fab fa-500px"></i>
  <i class="far fa-bell"></i>
  <i class="far fa-question-circle"></i>
  <i class="fas fa-cogs"></i>
</span>
<span class="mini-profile-user">
    <a href="/"><img id="user-mini-img" th:src="@{|/tmp/tmp-user.png|}" ></img></a>
    <!-- <span id="mini-reputation" h:text="${user.mini-reputation}"></span> -->
    <span id="mini-reputation">12345</span>
</span>
</span>