div{
border: 1px solid blue
}

.qs1 {
  flex: 1;
  max-width: 50px;
}
.qs2 {
  flex: 2;
}

.qs-voteCount{
display: flex;
  align-items: center;
  justify-content: center;
}

.question-home{
display: flex;
  flex-direction: row;
  align-items:  baseline
}

.ask-button-wrap{
display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.qmini{
font-size: small;
}

.tag{
font-size: small;
}

.panels-center{
 flex-direction: row;
 display: flex;
}

.panel-left{
flex: 1;
}
.panel-right{
width: 300px
}

.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}