<!-- div{ border: 1px solid blue } -->

/* header ------------------------------ */
.h {
   display: flex;
}

@media (min-width: 768px) {
  .h {
    flex-direction: row;
    flex: 1;
  }
  .h-left, .h-right {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
  .h-left a{
    justify-content: flex-end;
    display: flex;
  }
  .h-center{
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
  }

  .h-center-left{
  flex:1;
  }
  
  /* default css ------------------------ */
  .menu-item {
    margin: 15px;
  }
}

/* question detail ---------------------- */

.qs1 {
  flex: 1;
  max-width: 50px;
}
.qs2 {
  flex: 2;
}

.qs-voteCount{
display: flex;
  align-items: center;
  justify-content: center;
}

.question-home{
display: flex;
  flex-direction: row;
  align-items:  baseline
}

.ask-button-wrap{
display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.qmini{
font-size: small;
}

.tag{
font-size: small;
}

.panels-center{
 flex-direction: row;
 display: flex;
}

.panel-left{
flex: 1;
}
.panel-right{
width: 300px
}

.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}

/* mini profile center right ----------------------------------------------------- */

.icons{
  font-size:1.5em;
  color:grey;
}
.icons svg{
  margin-left: 15px;
}

#user-mini-img{
  border-radius: 20%;
  width: 30px;
  margin-right: 5px;
  margin-left: 15px;
}
#mini-reputation{
  font-size: small;
}

#mini-profile{
  display: flex;
  align-items: center;
}

.h {
   border-bottom: 1px solid grey;
}

/* q: question view ----------------------------------------------------- */
.qa-wrapper{
   display: flex;
}
.qa-upvotes{
   width: 80px;
   text-align: center;
}
.qa-upvotes table{
    margin: auto;
}


