<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<body>
    <div id="page" layout:fragment="content">
        <div class="panels-center">
            <div class="panel-left">
                <div>ask-question.html</div>
                <form action="#" th:action="@{/ask}" th:object="${question}" method="post" id="ask-question-form">
                   <p>Title: <input type="text" th:field="*{title}" /></p>
                   <textarea th:field="*{content}" form="ask-question-form"></textarea>
                   <p><input type="submit" value="Submit" /></p>
                </form>
            </div>
            <div class="panel-right">
                neco sem neco tam
            </div>
        </div>
    </div>
</body>

</html>
