<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
   <head>
      <link rel="stylesheet" href="/css/qooa.css"/>
      <title></title>
   </head>
   <body>
      <div id="page" layout:fragment="content">
         <div class="panels-center">
            <div class="panel-left">
               <div>This is home page content</div>
               <table>
                  <th:block th:each="question : ${questions}">
                     <div class="question-home">
                        <div class="qs1" >
                          <form action="#" th:action="@{|/questions/${question.id}/votes|}" th:object="${voteAction}" method="post" id="up-and-downvote-form-${question.id}">
                            <span><button type="submit" name="upvote" th:value="${question.id}"><i class="fas fa-chevron-up"></i></button></span>
                            <span th:text="${question.voteCount}"></span>
                            <span><button type="submit" name="downvote" th:value="${question.id}"><i class="fas fa-chevron-down"></i></button></span>
                          </form>
                        </div>
                        <div class="qs2">
                           <h2> <a  th:href="@{|/questions/${question.id}/|}" th:text="${question.title}"></a></h2>
                           <th:block th:each="tag : ${question.tags}">
                             <span class="tag" th:text="${tag.name}"></span>
                           </th:block>
                           <div class="qmini">
                             <span th:text="${question.createdOn}"></span>
                           </div>
                        </div>
                     </div>
                  </th:block>
               </table>
            </div>
            <div class="panel-right">
              <div class="ask-button-wrap">
                 <div th:replace="fragments/ask-button::ask-button"></div>
              </div>
            </div>
         </div>
      </div>
   </body>
</html>
